.Conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8rem;
    overflow: hidden;
    height: 80rem;
    width: 100%;
    border-radius: 12rem;
    background-color: var(--Branco);
    user-select: none;
}
.Conteudo:hover{
    transition: .2s;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px var(--Preto_2);
}

.Conteudo .singleCaracter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    max-width: 150px;
    min-width: 100px;
    background-color: var(--Preto_1);
    color: var(--Cinza);
}
.Conteudo .singleCaracter h1{
    font-size: 80rem;
}
.Conteudo .DivdoTexto{
    display: flex;
    flex-direction: column;
    gap: 8rem;
    height: 100%;
    width: 85%;
    padding: 12rem;
}

.Conteudo h2, p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: var(--Preto_2);
}
.Conteudo h2{
    font-size: 20rem;
}
.Conteudo p{
    font-size: 16rem;
}


.Conteudo .ModalNotion{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 101%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2rem);
    cursor: default;
}
.Conteudo .ContainerModal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    padding: 40rem;
    border-radius: 12rem;
    background-color: var(--Branco);
}
.ContainerModal h1{
    font-size: 45px;
}