.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    color: aliceblue;
}

.App input{
    background-color: var(--Preto_1);
    color: var(--Cinza);
}
.App input:focus{
    outline: none;
}

.App header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 120rem;
    width: 100%;
    background-color: var(--Branco);
}
.App main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24rem;
    width: 100%;
}