.CreateNewNote{
    display: flex;
    flex-direction: column;
    gap: 16rem;
    height: 500px;
    width: 90%;
    overflow: hidden;
    border-radius: 24rem;
    padding: 16rem;
    background-color: var(--Branco);
}
.CreateNewNote input{
    height: 15%;
    padding: 12rem;
    border-radius: 12rem;
    background-color: var(--Preto_1);
    font-size: 20rem;
}
.CreateNewNote input:focus{
    box-shadow: 3px 3px 10px 1px var(--Preto_2);
}
.CreateNewNote button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.CreateNewNote button[type="submit"]{
    background-color: green;
}
.CreateNewNote button[type="reset"]{
    background-color: red;
}