.CreateNewNote{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12rem;
    height: 500px;
    width: 90%;
    overflow: hidden;
    border-radius: 24rem;
    padding: 16rem;
    background-color: var(--Branco);
}

.CreateNewNote .Inputs{
    display: flex;
    flex-direction: column;
    gap: 16rem;
    height: 100%;
}
.CreateNewNote input, textarea{
    padding: 12rem;
    border-radius: 12rem;
    font-size: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CreateNewNote input, textarea:focus{
    box-shadow: 3px 3px 10px 1px var(--Preto_2);
}
.CreateNewNote .Inputs input {
    height: 15%;
}
.CreateNewNote .Inputs textarea {
    height: 85%;
}


.CreateNewNote .orientionButtons{
    position: relative;
    display: flex;
    flex-direction: row;
    right: 0%;
    bottom: 0%;
    justify-content: end;
    align-items: end;
    gap: 12rem;

}
.CreateNewNote button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.CreateNewNote button[type="submit"]{
    background-color: rgba(0, 128, 0, 0.5);
}
.CreateNewNote button[type="reset"]{
    background-color: rgba(255, 0, 0, 0.5);
}